/* reset */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    background:#333;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.container > div {
    height:210px;
    
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;

    transition: all 0.5s ease-in;
}


.container > div:hover {
    opacity: 0.7;
    transform: scale(0.98);
  }

.container > div:nth-of-type(1) {
    grid-column: 1 / 3;
  }

.container > div:nth-of-type(6){
    grid-column: 3/5;
}
.container > div:nth-of-type(9){
    grid-column: 3/5;
}

.bg1{
    background-image: url(./arh.jpg);
    color:rgb(252, 204, 204);
    text-shadow: 3px 3px 3px #333;

}

.bg2{
    background-image: url(./mnt.jpg);
    color:#fff;
    text-shadow: 3px 3px 3px #333;

}

h2{
    font-size: 40px;
    font-weight: 300;
}

p{
    font-size: 18px;
}
